a{
    text-decoration: none;
    cursor: pointer;
}

.logo {
    border-radius: 50%;
    background-image: url("../img/svg/logo.svg");
    height: 170px;
    width: 170px;
}

header {
    background-color: #0E0F1C;
    margin-bottom: 6%;
}

.head-text {
    font-family: 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 125.52%;
    text-align: center;
    letter-spacing: 0.085em;
    float: left;
    color: #FFFFFF;
}

.foo {
    position: relative;
    margin-top: 6%;
    background-color: #0E0F1C;
    bottom: 0;
}

.qr-footer{
    width: 200px;
    height: 200px;
    float: right;
}


nav{
    position: relative;
    width: 1366px;
    height: 60px;
    left: 0;
    margin-top: 100px;
    background:#0E0F1C;
}

#nav3, #nav3 li {
    margin: 0;
    padding-bottom: 10px;
}
#nav3 {
    text-align: center; /* пункты и текст горизонтально по центру */

}
#nav3 li {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}
#nav3 a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #0077C2;
    border-radius: 8px;
    width: 178px;
    height: 45px;
    margin-top: 15px;


    font-family: 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    /*line-height: 125.52%;*/
    /* or 60px */

    letter-spacing: 0.055em;

}


#menu-div{
    background-color: #0E0F1C;
    padding-bottom: 5px;
}

.menu-li{
    background-color: #0077C2;
    list-style-type: none;
    display: inline-block;
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 2px;
}

.tittle-file-void{
    color: #FFFFFF;
    font-size: 48px;
}

.tag-link{
    color: #FFFFFF;
    background-color: #5c636a;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 20px;
}

.tag-link-size48{
    color: #FFFFFF;
    background-color: #5c636a;
    padding-left: 3%;
    font-size: 48px;
    padding-right: 3%;
    border-radius: 20px;
}

.lorem-ipsum-void{
    color: #FFFFFF;
}