a{
    text-decoration: none;
    cursor: pointer;
}

body {
    color: #E2E2E2;
}

.logo {
    border-radius: 50%;
    background-image: url("../img/svg/logo.svg");
    height: 170px;
    width: 170px;
}

.head-text-mobile{
    font-family: 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 125.52%;
    text-align: center;
    letter-spacing: 0.085em;
}

header {
    background-color: #0E0F1C;
    margin-bottom: 6%;

}

.head-text {
    font-family: 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 125.52%;
    text-align: center;
    letter-spacing: 0.085em;
    float: left;
}

.foo {
    position: relative;
    margin-top: 6%;
    background-color: #0E0F1C;
    bottom: 0;
}

.qr-footer{
    width: 100px;
    height: 100px;
    float: right;
}


nav{
    position: relative;
    width: 1366px;
    height: 60px;
    left: 0;
    margin-top: 100px;
    background:#0E0F1C;
}

#nav3, #nav3 li {
    margin: 0;
    padding-bottom: 10px;
}
#nav-lg {
    text-align: center; /* пункты и текст горизонтально по центру */

}
#nav-lg li {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}
#nav-lg a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #0077C2;
    border-radius: 8px;
    width: 178px;
    height: 45px;
    margin-top: 15px;


    font-family: 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    /*line-height: 125.52%;*/
    /* or 60px */

    letter-spacing: 0.055em;

}


#menu-div{
    background-color: #0E0F1C;
    padding-bottom: 5px;
}

.menu-li{
    background-color: #0077C2;
    list-style-type: none;
    display: inline-block;
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 2px;
}

.tittle-file-void{
    color: #FFFFFF;
    font-size: 48px;
}

.tag-link{
    color: #FFFFFF;
    background-color: #5c636a;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 20px;
}

.tag-link-size48{
    color: #FFFFFF;
    background-color: #5c636a;
    padding-left: 3%;
    font-size: 48px;
    padding-right: 3%;
    border-radius: 20px;
}

.lorem-ipsum-void{
    color: #FFFFFF;
}

.faq-body {
    border-radius: 50px;
    background-color: #0E0F1C;
    padding: 20px;
    width: 95vw;

}

.faq-list{
    list-style-type: none;

}

.faq-list-item {
    border: #00EEEE 1px solid;
    padding: 15px;
    border-radius: 20px;

}

.faq-warning {
    border: red 1px solid;
    padding: 15px;
    border-radius: 20px;
}

.faq-header {
    font-family: 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    /*line-height: 125.52%;*/
    /* or 60px */

    letter-spacing: 0.055em;
}
.faq-text {
    font-family: 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    /*line-height: 125.52%;*/
    /* or 60px */

    letter-spacing: 0.055em;
}

.faq-title {
    font-family: 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    /*line-height: 125.52%;*/
    /* or 60px */

    letter-spacing: 0.055em;
}


.mobile-card {
    padding: 15px;
}

.faq-div {
    margin-top: 35px;
}

.mobile-nav-a{
    text-align: center;
    padding-bottom: 15px;
    padding-top: 0px;
    background-color: #0077C2;
    border-radius: 8px;
    height: 45px;
    margin-top: 15px;
    width: 100%;
    font-family: 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

.mobile-nav-item{
    margin-bottom: 10px;
}

.mobile-header{
    padding-bottom: 20px;
    -moz-border-radius-bottomright: 35px;
    -moz-border-radius-bottomleft: 35px;
}

.faq-title-mobile{
    ont-family: 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    /*line-height: 125.52%;*/
    /* or 60px */


    letter-spacing: 0.055em;
}
.faq-header-mobile{
    font-family: 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /*line-height: 125.52%;*/
    /* or 60px */

    letter-spacing: 0.055em;
}

.faq-text-mobile{
    font-family: 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125.52%;
    /* or 60px */

    letter-spacing: 0.055em;
}